.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 63px;
    top: 28px;
}

.bm-burger-bars {
    background: #424242;
}


.bm-burger-bars-hover {
    background: #0ecf38;
}


.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #0ecf38;
}


.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

nav button {
    padding: 0 !important;
}